<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/styles/users.css">
        <title> Tnt Web </title>
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    </head>
    <body>
    <div class="layout">  
    <!--HEARDER DODAVANJE-->
        <header><%- include('../partials/errorToaster', {errorMessage: errorMessage}); %></header>

        <div class="content">

            <p class="naslov-1" style="padding-top: 60px;"> Login </p>

            <div class="login-wraper">
                <form action ="/login" method="POST">
                    <div class="login-wraper">
                        
                            <div class="login-content">
                                <p><label for="username">Korisnicko ime:</label></p>
                                <p><input type="text" name="username" id="username"></p>

                            </div>

                            <div class="login-content">
                                <p><label for="password">Zaporka:</label></p>
                                <p><input type="password" name="password" id="password"></p>
                                

                            </div>

                            <div class="login-content">
                                <button class="button btn-login"> Login  </button>
                            </div>

                            
                                            

                        

                    </div>
                </form>
            </div>
          
        </div>
        <div> <footer><%- include('../partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>