<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/styles/users.css">
        <title> Tnt Web </title>
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    </head>
    <body>
    <div class="layout">  
    <!--HEARDER DODAVANJE-->
        <header><%- include('../partials/errorToaster', {errorMessage: errorMessage}); %></header>

        <div class="content">
            <h2> Login </h2>
            <form action ="/login" method="POST">
                 <p>
                    <label for="username">Korisnicko ime:</label>
                    <input type="text" name="username" id="username">
                </p>
                <p>
                    <label for="password">Zaporka:</label>
                    <input type="text" name="password" id="password">
                </p>   
                                
                 <input type="submit" value="Login">
            </form>
          
        </div>
    <!--FOOTER DODAVANJE-->
        <div> <footer><%- include('../partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>