<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/styles/users.css">
        <title> Tnt Web </title>
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    </head>
    <body>
    <div class="layout">  
    <!--HEARDER DODAVANJE-->
        <header><%- include('../partials/errorToaster', {errorMessage: errorMessage}); %></header>

        <div class="content">
            <p class="rez-title"> Login </p>
            <div class="login-wraper">
                <form action ="/login" method="POST">
                    <div class="login-wraper">
                        
                            <div class="login-content">
                                <p><label for="username">Korisnicko ime:</label></p>
                                <p><input type="text" name="username" id="username"></p>

                            </div>

                            <div class="login-content">
                                <p><label for="password">Zaporka:</label></p>
                                <p><input type="text" name="password" id="password"></p>
                                

                            </div>

                            <div class="login-content">
                                <input type="submit" value="Login" class="login-btn">
                            </div>

                            
                                            

                        

                    </div>
                </form>
            </div>
          
        </div>
    <!--FOOTER DODAVANJE-->
        <div> <footer><%- include('../partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>