<div class="footer-content">
    <footer class="footer">
        <div class="container">
            <div class="row">
                
                
                
                <div class="footer-col">     
                
                </div>



                <div class="footer-col">
                    <h4>SPK "TNT" kontakt</h4>
                    <ul>
                        <span class="footer-kontakt">
                            <li>Put Smoljevca 43, 21212 Kaštel Sućurac</li>
                            <li>Phone: +385 99 191 8060</li>
                            <li>Email: spktnt@gmail.com</li>
                            <a class="header-navbar-item" href="/login">Za osoblje</a>

                        </span>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Usluge</h4>
                    <ul>
                        <span class="footer-usluge">
                            <li><a href="#">&#x2614; Početna stranica</a></li>
                            <li><a href="#">&#x2614; Radno vrijeme i cjenik</a></li>
                            <li><a href="#">&#x2614; Team TNT</a></li>
                            <li><a href="#">&#x2614; Galerija</a></li>
                            <li><a href="#">&#x2614; Kontakt</a></li>
                            <li><a href="#">&#x2614; Rezervacije rođendana</a></li>

                        </span>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Pratite nas</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
</div>
