<header><%- include('errorToaster', { errorMessage: errorMessage }); %></header>
<div class="header-navbar">

    <a class="header-navbar-item" href="/admin/appointment">Termini</a>
    <a class="header-navbar-item" href="/admin/reservation">Rezervacije</a>
    <a class="header-navbar-item" href="/admin/pre-reservation">Predrezervacije</a>
    <a class="header-navbar-item" href="/admin/gallery">Galerija</a>
    <a class="header-navbar-item" href="/rezervacija">Rezervacija rođendana</a>
    <a class="header-navbar-item" href="/logout">Odjava</a>


</div>

