<div class="header-navbar">

    <a class="header-navbar-item" href="/pocetna">Početna stranica</a>
    <a class="header-navbar-item" href="/radno-vrijeme-cjenik">Radno vrijeme i cjenik</a>
    <a class="header-navbar-item" href="/tnt-team">TNT Team</a>
    <a class="header-navbar-item" href="/galerija">Galerija</a>
    <a class="header-navbar-item" href="/kontakt">Kontakt</a>
    <a class="header-navbar-item" href="/rezervacija">Rezervacija rođendana</a>


</div>

