<div class="header-navbar">

    <a class="header-navbar-item" href="/users">Rezervacija rođendana</a>
    <a class="header-navbar-item" href="/appointment">Termini</a>
    <a class="header-navbar-item" href="/admin/reservation">Rezervacije</a>
    <a class="header-navbar-item" href="/admin/pre-reservation">Predrezervacije</a>
    <a class="header-navbar-item" href="/admin/gallery">Galerija</a>
    <a class="header-navbar-item" href="/rezervacija">Rezervacija rođendana</a>



</div>

