<html>
    <head>
        <%- include('partials/head'); %>
        <title> Tnt Web </title>
    </head>
    <body>
    <div class="layout">  
        <header><%- include('partials/header'); %></header>

        <div class="content">
            
            <p class="naslov-1">KAKO DO NAS</p>
            <div class="kontakt-wraper">
             <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.8221755764384!2d16.44876477732644!3d43.54774855924287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13355f189a098a43%3A0xaa861b6c9702a6dd!2sClimbing%20gym%20TNT!5e0!3m2!1sen!2shr!4v1717166756962!5m2!1sen!2shr" >
                </iframe>
             </div>

            <div class="kontakt-info">
                <ul>
                    <span class="kontakt-des">
                        <li>Put Smoljevca 43, 21212 Kaštel Sućkurac</li>
                        <li>Phone: +385 99 191 8060</li>
                        <li>Email: spktnt@gmail.com</li>
                    </span>
                </ul>
            </div>
            </div>
        </div>
        <div class="tnt-footer"> 
            <footer><%- include('partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>