<html>
    <head>
    <script src="/scripts/tailwindcss-with-all-plugins.js"></script>
    <title> Tnt Web </title>
    <!-- <link href="/styles.css" rel="stylesheet"> -->
  </head>
    <body>
<!--HEARDER DODAVANJE-->
    <header><%- include('partials/header'); %></header>

    <div class="container">
        <h2> Users
        </h2>
        <h2> Added Task </h2>

        <% for( var i = 0; i < users.length; i++){ %>
            <span>
                <%= users[i].firstname %>
            </span>
            <span>
                <%= users[i].lastname %>
            </span>
        <% } %>
    </div>
<!--FOOTER DODAVANJE-->
    <div> <footer><%- include('partials/footer'); %></footer>
    </div>
</body>
</html>