<html>
    <head>
        <%- include('partials/head'); %>
        <title> Tnt Web </title>
    </head>
    <body>
        <header><%- include('partials/header'); %></header>


    <div class="layout">  

        <div class="content">

            <p class="naslov-1">Naša ponuda</p>

            <div class="ponuda">
                <div class="ponuda-slika">
                    <img class="img-ponuda" src="images/pocetna/ponuda-1.jpg">
                </div>
                <div class="ponuda-info">
                    <p class="ponuda-naslov">
                        Organizirani trening pod vodstvom stručnog osoblja
                    </p>
                    <p class="ponuda-tekst">
                        Trening uz pratnju stručnog trenera omogućava najsigurniji i najbrži put do Vašeg cilja.
                    </p>
                </div>
            </div>

            <div class="ponuda">
                <div class="ponuda-slika">
                    <img class="img-ponuda" src="images/pocetna/ponuda-1.jpg">
                </div>
                <div class="ponuda-info">
                    <p class="ponuda-naslov">
                        Treninzi za djecu
                    </p>
                    <p class="ponuda-tekst">
                        Grupni dječji treninzi za rekreativce ali i male buduće profesionalce.
                    </p>
                </div>
            </div>

            <div class="ponuda">
                <div class="ponuda-slika">
                    <img class="img-ponuda" src="/images/pocetna/ponuda-1.jpg">
                </div>
                <div class="ponuda-info">
                    <p class="ponuda-naslov">
                        Rođendani
                    </p>
                    <p class="ponuda-tekst">
                        Dječji rođendani u penjačkoj dvorani, što djeca više mogu poželjeti! Kontaktirajte nas!
                    </p>
                </div>
            </div>

            <div class="ponuda">
                <div class="ponuda-slika">
                    <img class="img-ponuda" src="images/pocetna/ponuda-1.jpg">
                </div>
                <div class="ponuda-info">
                    <p class="ponuda-naslov">
                        Samostalni treninzi
                    </p>
                    <p class="ponuda-tekst">
                        Individualni, samostalni trenininzi u dvorani bez trenera uz ponudu mnoštva različitih smjerova u bojama.
                    </p>
                </div>
            </div>
            
        </div>
        <div class="tnt-footer"> 
            <footer><%- include('partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>