<html>
    <head>
        <%- include('partials/head'); %>
        <title> Tnt Web </title>
    </head>
    <body>
    <div class="layout">  
        <header><%- include('partials/header'); %></header>

        <div class="content">                


            <p class="p-h1">Cjenik</p>


            <!-- 1. RED -->

            <div class="flex-grid">
                
                    <P class="p-h2">Dnevne članarine</P>

            </div>

            <div class="flex-grid">


                <div class="col">
                    <p class="pricelist-t">Dnevna članarina odrasli</p>
                </div>

                <div class="col">
                    <p class="pricelist-p">8€ / 6.5€</p>
                </div>
            </div>

            <div class="flex-grid">

                <div class="col">
                    <p class="pricelist-t">Dnevna članarina djeca i studenti</p>
                </div>

                <div class="col">
                    <p class="pricelist-p">cijena2</p>
                </div>
            </div>

            <div class="flex-grid">

                <div class="col">
                    <p class="pricelist-t">ponuda3</p>
                </div>

                <div class="col">
                    <p class="pricelist-p">cijena3</p>
                </div>
            </div>



        </div>
        <div class="tnt-footer"> 
            <footer><%- include('partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>