<html>
    <head>
        <%- include('partials/head'); %>
        <title> Tnt Web </title>
    </head>
    <body>
    <div class="layout">  
        <header><%- include('partials/header'); %></header>

        <div class="content">
            <div class="team-wraper">

            
            <div class="team team-left">
                <img class="team-img" src="images/team/niksi.jpg">
                
                <div class="team-info">
                    <p class="team-ime">Ime Prezime</p>
                    <p class="team-opis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis justo in dolor efficitur, 
                        vulputate ornare lectus iaculis. Vestibulum dignissim, urna vel vehicula faucibus, orci metus euismod purus, 
                        a ornare felis nunc vitae urna. Maecenas varius interdum justo, in fermentum sem convallis ut.</p>
                </div>
            </div>


            <div class="team team-right">
                <div class="team-info">
                    <span style="text-align: right;">
                        <p class="team-ime">Ime Prezime</p>
                        <p class="team-opis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis justo in dolor efficitur, 
                                            vulputate ornare lectus iaculis. Vestibulum dignissim, urna vel vehicula faucibus, orci metus euismod purus, 
                                            a ornare felis nunc vitae urna. Maecenas varius interdum justo, in fermentum sem convallis ut.</p>
                    </span>
                </div>
                    <img class="team-img" src="images/team/stela.jpg">
            </div>


            <div class="team team-left">
                    <img class="team-img" src="images/team/trumba.jpg">
                <div class="team-info">
                    <p class="team-ime">Ime Prezime</p>
                    <p class="team-opis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis justo in dolor efficitur, 
                        vulputate ornare lectus iaculis. Vestibulum dignissim, urna vel vehicula faucibus, orci metus euismod purus, 
                        a ornare felis nunc vitae urna. Maecenas varius interdum justo, in fermentum sem convallis ut.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="tnt-footer"> 
            <footer><%- include('partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>