.header-navbar {
    display: flex;
    background: #0000003e;
    justify-content: right;
    position: relative;
    z-index: 100;
    padding: 7px;
}

.header-navbar-item {
    margin-right: 20px;
    color:#ffffff;
    font-size: 14px;
    font-weight: 400;
    text-shadow: black;
}

.header-navbar-item:hover {
    color: rgb(252, 213, 4);
}
