body{
    background-color: rgb(242, 249, 255);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    background-image: url("../images/pozadina-v2.svg");
    
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    padding-top:100px;
    padding-bottom:200px;

}

.tnt-footer {
    margin-top: auto;
    flex: 0;
}



/*NASLOVI i TEKST*/

.pocetna-tekst1{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 150px;
}

.naslov-1{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
    color: rgb(102, 174, 197);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.702);
}

/*POČETNA*/

    /*DIV*/
.ponuda {
    width: 450px;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}

.ponuda-slika{
    display: inline-block;
    width: 140px;
    margin-right: 10px;
}

.ponuda-info{
    display: inline-block;
    width: 240px;
    vertical-align: top;
}

    /*CONTENT*/

.img-ponuda{
    width: 100%;
    border-radius: 5px;
}

.ponuda-naslov{
    font-size: 14px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
}

.ponuda-tekst{
    margin-top: 20px;/*ne radi, zasto?*/
    font-size: 10px;
    color:rgb(128, 139, 152);
    margin-top: 0px;
    width: 100%;
}


/*KONTAKT*/

.kontakt-wraper{
    display: flex;
    justify-content: center;
}

.google-map {
    height: 380;
    width: 430;
    box-sizing: border-box;
    position: relative;
    border-radius: 4%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.426);
    display: inline-block;
}

.google-map iframe {
    
    height: 380;
    width: 430;
    left: 0;
    top: 0;
    position: absolute;
}

.kontakt-info{
    display: inline-block;
    width: 280px;
    vertical-align: top;
    margin-left: 180px;
    padding-top: 100px;
}

.kontakt-des{
    font-size: 14px;

}


/*TEAM*/

.team-wraper{
    display: flex;
    flex-direction: column;
}

.team{
    display: flex;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

.team-left {
    margin-right: auto;
    margin-left: 100px;
    background-color: rgba(102, 174, 197, 0.3);

    > .team-img {
        margin-right: 20px;
    }
}

.team-right {
    margin-left: auto;
    margin-right: 100px;
    background-color: rgba(102, 174, 197, 0.3);

    > .team-img {
        margin-left: 20px;
    }
}

.team-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.team-img{
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.team-ime{
    font-size: 26px;
    font-weight: 600px;
    margin-bottom: 10px;
}

.team-ime{
    font-size: 18px;
}