body{
    background-color: rgb(242, 249, 255);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    background-image: url("../images/pozadina-v2.svg");
    
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    padding-top:100px;
    padding-bottom:200px;

}

.tnt-footer {
    margin-top: auto;
    flex: 0;
}

button{
    background-color: rgba(179, 205, 120);
    transition-duration: 0.2s;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.button:hover{
    border: 2px solid rgba(179, 205, 120);
    background-color: white;
    color: black;
}



/*NASLOVI i TEKST*/

.pocetna-tekst1{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 150px;
}

.naslov-1{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
    color: rgb(102, 174, 197);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.702);
}

/*POČETNA*/

.ponuda {
    width: 450px;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}

.ponuda-slika{
    display: inline-block;
    width: 140px;
    margin-right: 10px;
}

.ponuda-info{
    display: inline-block;
    width: 240px;
    vertical-align: top;
}

    /*CONTENT*/

.img-ponuda{
    width: 100%;
    border-radius: 5px;
}

.ponuda-naslov{
    font-size: 14px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
}

.ponuda-tekst{
    margin-top: 20px;/*ne radi, zasto?*/
    font-size: 10px;
    color:rgb(128, 139, 152);
    margin-top: 0px;
    width: 100%;
}


/* FLEXBOX */



.flex-grid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-bottom: 40px;
  }
  .flex-grid .col {
    flex: 1;
    
  }



/*KONTAKT*/

.kontakt-wraper{
    display: flex;
    justify-content: center;
}

.google-map {
    height: 380;
    width: 430;
    box-sizing: border-box;
    position: relative;
    border-radius: 4%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.426);
    display: inline-block;
}

.google-map iframe {
    
    height: 380;
    width: 430;
    left: 0;
    top: 0;
    position: absolute;
}

.kontakt-info{
    display: inline-block;
    width: 280px;
    vertical-align: top;
    margin-left: 180px;
    padding-top: 100px;
}

.kontakt-des{
    font-size: 14px;

}


/*TEAM*/

.team-wraper{
    display: flex;
    flex-direction: column;
}

.team{
    display: flex;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

.team-left {
    margin-right: auto;
    margin-left: 100px;
    background-color: rgba(102, 174, 197, 0.3);

    > .team-img {
        margin-right: 20px;
    }
}

.team-right {
    margin-left: auto;
    margin-right: 100px;
    background-color: rgba(102, 174, 197, 0.3);

    > .team-img {
        margin-left: 20px;
    }
}

.team-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.team-img{
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.team-ime{
    font-size: 26px;
    font-weight: 600px;
    margin-bottom: 10px;
}

.team-ime{
    font-size: 18px;
}


  /* PRICELIST */

  .p-h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
  }

  .p-h2{
    font-size: 22px;
    text-align: center;
    width: 100%;
  }

  .flex-grid-p {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-bottom: 20px;
    
  }
  .flex-grid-p .col {

    flex: 1;
    padding-top: 4px;
    padding-bottom: 4px;

    
    border-bottom-style: dotted;
    border-color: rgba(179, 205, 120);
    border-bottom-width: 2px;
    
  }

  .pricelist-t{
    text-align: left;
    font-size: 16px;
  }

  .pricelist-p{
    text-align: right;
    font-size: 16px;
  }


  /* FORMA */


  .form-button{
    background-color: rgba(102, 174, 197);
    padding: 15px 35px;
    
    border-radius: 4px;
    color: black;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  .form-button:hover{
    color: black;
    background-color: white;
    border: 4px solid rgba(102, 174, 197);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgb(252, 213, 4);

  }

  .form-wrap{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }



  .grid-container {
    display: grid;
    background-color: rgb(252, 213, 4);
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;

    grid-template-areas: auto auto;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

    .item0 { grid-column: 1 / span 2; 
    }
    .item8 { grid-column: 1 / span 2; 
    }


    /* GALLERY */

    .img-g{
        width: 100%;

    }


    /* REZERVACIJE */

    .rez-wraper{
        display: flex;
        flex-direction: column;
    }

    .rez-content{
        display: flex;
        flex-direction: column;
        font-size: 16px;

        margin-left: auto;
        margin-right: auto;
    }

    .rez-title{
        font-size: 22px;
        text-align: center;
        margin-bottom: 60px;
    }

    .link-button{
        font-size: 18px; 
        background-color: rgb(144, 66, 216);
        color:white;
        padding: 14px 25px;
        text-decoration: none;
        text-align: center;
        width: 250px;
    }

    .link-button:hover{
        background-color: blueviolet;
    }

    .link-button:active{
        background-color: rgb(121, 12, 223);
    }

    .btn-remove{
        background: red;
        padding: 15px;
        border-radius: 20px;
        margin-left: 50px;
        margin-bottom: 40px;
        color: white;
    }

    .link-edit{
        background: blue;
        padding: 15px;
        border-radius: 20px;
        margin-left: 50px;
        margin-bottom: 40px;
        

    }

    .btn-rez{
        background: yellow;
        padding: 15px;
        border-radius: 20px;
        margin-left: 50px;
        margin-top: 40px;
        margin-bottom: 5px;
    }

    span{
        margin-bottom: 30px;

    }


    /* APPOINTMENT */


    .btn-remove-a{
        background: red;
        padding: 10px;
        border-radius: 5px;
        margin-left: 50px;
        margin-bottom: 40px;
        color: white;
    }

    .link-edit-a{
        background: blue;
        padding: 10px;
        border-radius: 5px;
        margin-left: 50px;
        margin-bottom: 40px;
        color: white;
        width: 50px;
        
    }

    .appo-wraper{
        display: flex;
        flex-direction: column;
    }

    .appo-content{
        display: flex;
        flex-direction: column;
        font-size: 16px;

        margin-left: auto;
        margin-right: auto;
    }
