body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}

.tnt-footer {
    flex: 0;
}
